.cursor {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgb(234, 234, 109) 0%;

  transition: transform 0.1s ease-out;
}

body .cursor.hovered {
  transform: translate(-50%, -50%) scale(2);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

/* .cursor {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  background: url('../../../../public/assets/board.svg') center/contain no-repeat;
}

body .cursor.hovered {
  transform: translate(-50%, -50%) scale(2);
} */

.cursor {
  display: block !important;
}

* {
  cursor: none;
}
