@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline-red {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: theme("colors.citrus.red-200");
}

.text-outline-yellow {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: theme("colors.citrus.yellow");
}

.bg-theater {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 5%, black 95%);
}
