@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline-red {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: theme("colors.citrus.red-200");
}

.text-outline-yellow {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: theme("colors.citrus.yellow");
}
